@use "../custom" as *;
@use "../components/mixins" as *;

.display-2 {
  margin-bottom: 1rem;
  text-transform: capitalize;
  font-family: 'Poppins', sans-serif;

  &--intro {
    display: inline-block;
    font-weight: 700;
  }

  &--description {
    margin-top: 1.2rem;
    display: block;
    font-size: 1rem;
    text-transform: none;

    @include media-breakpoint-up("lg") {
      font-size: 1.4rem;
      display: inline-block;
    }
  }
}

// HEADING LINE
.heading-line {
  margin-bottom: 4rem;
}
.heading-line::before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 10rem;
  height: 0.3rem;
  background-color: $primary;
}
.heading-line::after {
  content: "";
  display: block;
  margin: 0 auto;
  padding-top: 0.5rem;
  width: 2rem;
  height: 0.6rem;
  background-color: $primary;
}